@media only screen and (min-width : 601px)
{
     #nav-logo
     {
       margin-right: 10px;
       margin-top: 4px;
       height: 55px;
     }
}
@media only screen and (max-width: 600px )
{
  #nav-logo
  {
    display:none;
  }
  #titulo_nav
  {
    display:none;
  }
}
.input-field .prefix.active
{
  color: #0091ea;
}

.input-field input:focus + label
{
  color: #0091ea !important;
}

.row .input-field input:focus
{
   border-bottom: 1px solid #0091ea !important;
   box-shadow: 0 1px 0 0 #0091ea !important
}

.input-field textarea:focus + label
{
  color: #0091ea !important;
}

.row .input-field textarea:focus
{
  border-bottom: 1px solid #0091ea;
  box-shadow: 0 1px 0 0 #0091ea;
}
.slider .indicators .indicator-item.active
{
  background-color: #0091ea !important;
}

.dropdown-content li > a, .dropdown-content li > span
{
  color: #0091ea !important;
}

#Icono_Imagen
{
   position:absolute;
   left: 2px;
}

#texto-boton-imagen
{
  position:relative;
  left:16px;
}
