<!DOCTYPE html>
<html lang="es">
<head>
	<title>{TITULO}</title>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="../images/icon.png">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.3.2/sweetalert2.css">
  <link type="text/css" rel="stylesheet" href="../css/materialize.min.css"  media="screen,projection"/>
	<link type="text/css" rel="stylesheet" href="../css/styles_usuario.css"  media="screen,projection"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.3.2/sweetalert2.js" charset="utf-8"></script>
  <script type="text/javascript" src="../js/materialize.min.js"></script>
  <script type="text/javascript" src="../js/script_usuario.js"></script>
</head>
<body>
   <div class="navbar-fixed" >
  <nav class="nav-extended light-blue accent-4">
    <div class="nav-wrapper">
			<a id="nav-logo" class="brand-logo center">Virtual Albums</a>
			<form action="verAlbumes.php" method="GET">
				<div class="input-field">
					<input id="busquedaAlbumes" type="search" name="id" class="autocomplete" onchange="obtenerDatos(this, event)">
					<label class="label-icon" for="search"><i id="icono_busqueda" class="material-icons">search</i></label>
					<i class="material-icons">close</i>
				</div>
			</form>
    </div>
    <div class="nav-content">
      <ul class="tabs tabs-transparent">
				<li class="tab"><a class="active" href="#tabInicio">Inicio</a></li>
				{TABS_DE_SELECCION}
      </ul>
    </div>
  </nav>
  </div>
  <br>
	<br>
  <div id="tabInicio" class="col s12">
		<div class="container">
			{CONTENIDO_INICIO}
		</div>
  </div>
  <div id="tabAlbumes" class="col s12" >
		<div class="container">
			{CONTENIDO_ALBUMES}
		</div>
	</div>
	<div id="tabNotificaciones" class="col s12">
		<div class="container">
			{CONTENIDO_NOTIFICACIONES}
		</div>
	</div>
	<div id="tabPerfil" class="col s12">
		<div class="container">
			{CONTENIDO_PERFIL}
		</div>
	</div>
	<br>
</body>
</html>
