<!DOCTYPE html>
<html lang="es">
<head>
	<title>{TITULO}</title>
	<meta charset="utf-8">
  <link rel="shortcut icon" href="../images/icon.png">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.3.2/sweetalert2.css">
  <link type="text/css" rel="stylesheet" href="../css/materialize.min.css"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="../css/styles_usuario.css"  media="screen,projection"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="../js/jquery.dataTables.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.3.2/sweetalert2.js" charset="utf-8"></script>
  <script type="text/javascript" src="../js/materialize.min.js"></script>
	<script type="text/javascript" src="../js/script_usuario.js"></script>
</head>
<body>
<main>
	<nav class="light-blue accent-4 ">
		<div class="nav-wrapper">
			<a class="brand-logo center" id="titulo">Virtual Albums</a>
		</div>
	</nav>
  <div class="container">
    <div id="mostrarFotos">
      <button class="btn waves-effect waves-light indigo darken-3 right" style="margin: 10px" id="mostrarSubirFotos">Subir fotos
        <i class="material-icons right">file_upload</i>
      </button>
      <h2>{TITULO_ALBUM}</h2>
      {FOTOS}
			<center>
				<button class="btn waves-effect waves-light indigo darken-3" style="margin: 10px" onclick="location.href='index.php#tabAlbumes'">Regresar a álbumes
          <i class="material-icons right">arrow_back</i>
        </button>
      </center>
    </div>
    <div id="formSubirFoto">
			<br>
			<button class="btn waves-effect waves-light indigo darken-3 right" style="margin: 10px" id="botonMostrarFotos">Volver al álbum
        <i class="material-icons right">arrow_back</i>
      </button>
			<h2>Subir foto</h2>
			<div class="row">
		    <div class="card hoverable col s12 opacidad">
		      <form method="POST" enctype="multipart/form-data" id="formularioSubirFotos">
		        <div class="card-content">
		          <div class="row">
		            <div class="file-field input-field col l12 s12">
		              <div class="btn waves-effect waves-light indigo darken-3">
		                <i class="material-icons prefix" id="Icono_Imagen">image</i>
		                <span id="texto-boton-imagen">Buscar foto</span>
		                <input type="file" name="rutaSubirFoto" accept="image/*" required>
		              </div>
		              <div class="file-path-wrapper">
		                <input class="file-path validate" type="text" id="rutaSubirFoto" name="rutaSubirFoto" placeholder="Foto" required>
		              </div>
		            </div>
								<input type="hidden" name="idAlbum" value="{IDALBUM}">
		          </div>
		        </div>
		        <center>
		        <div class="card-action center-align">
		          <button class="btn waves-effect waves-light indigo darken-3" type="submit" name="action" style="margin: 10px">Subir
		            <i class="material-icons right">send</i>
		          </button>
		        </div>
		      </form>
		    </div>
		  </div>
    </div>
  </div>
</main>
</body>
</html>
