<main>
  <center>
    <br>
    <img class="responsive-img" src="images/icon.png" width="150px" height="150px" alt=""/>
  </center>
  <h1 class="center white-text">Virtual Albums</h1>
  <div class="container">
    <h3 class="white-text">Inicio de sesión</h3>
    <div class="valign-wrapper row login-box">
      <div class="card hoverable col s12 opacidad" id="formulario">
        <form method="POST" id="form-login">
          <br>
          <div class="card-content">
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">email</i>
                <input name="correo" type="email" class="validate" pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}" required>
                <label for="email" data-error="Incorrecto" data-success="Correcto">Ingresa tu correo electrónico</label>
              </div>

              <div class="input-field col s12">
                <i class="material-icons prefix">lock</i>
                <input name="pass" type="password" class="validate" maxlength="32" required>
                <label for="password">Ingrese su contraseña</label>
              </div>
            </div>
          </div>
          <div class="card-action center-align">
              <button class="btn-flat grey-text waves-effect" type="reset" id="reset" style="margin: 10px"> Limpiar Campos </button>
              <button class="btn waves-effect waves-light light-blue accent-4" type="submit" style="margin: 10px">Iniciar Sesión
                <i class="material-icons right">send</i>
              </button>
              <button class="btn waves-effect waves-light red" onclick="location.href='usuario/inicio.php'" style="margin: 10px">Entrar como visitante
                <i class="material-icons right">visibility</i>
              </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
<footer class="page-footer black opacidad">
  <div class="container">
    <div class="row">
      <div class="col l4 m4 s12 center">
        <h5 class="white-text">Desarrollado por:</h5>
        <ul>
            <li><a class="grey-text text-lighten-3">César Mauricio Arellano Velásquez</a></li>
            <li><a class="grey-text text-lighten-3">Raúl González Portillo</a></li>
        </ul>
      </div>
      <center>
        <div class="col l4 m4 s12">
          <img class="responsive-img" src="images/LogoRAM.png" width="210px" height="200px" />
        </div>
      </center>
      <div class="col l4 m4 s12 center">
        <h5>¿No tienes cuenta?</h5>
        <button class="btn waves-effect waves-light cyan darken-2" onclick="location.href='registro_usuarios.html'">¡Regístrate!
          <i class="material-icons right">send</i>
      </button>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2020 Virtual Albums
    </div>
  </div>
</footer>
