<div class="title">
    <center>
      <h2><b>Administración</b></h2>
    </center>
</div>
<div class="row">
   <div class="col s12">
     <ul class="tabs">
       <li class="tab col s6"><a class="active" href="#usuarios">Usuarios</a></li>
       <li class="tab col s6"><a href="#autorizar_fotos">Autorizar Fotos</a></li>
     </ul>
   </div>
   <div id="usuarios" class="col s12">
     <div class="container">
       <br>
       <div class="row">
         <div class="input-field col s12">
           <input id="buscar" type="text" class="validate">
           <label for="buscar">Busca por nombre de usuario o tipo de usuario</label>
         </div>
       </div>
       <div id="datos"></div>
      </div>
   </div>
   <div id="autorizar_fotos" class="col s12">
     <div class="container">
       <br>
         <div class="row">
           <div class="input-field col s12">
             <input id="buscarfotos" type="text" class="validate">
             <label for="buscar">Busca por nombre de usuario</label>
           </div>
         </div>
         <div id="datosfotos"></div>
     </div>
   </div>
 </div>
