<p>{MENSAJEVACIO2}<p>
<br>
<table class="responsive-table highlight" style="border-width: 20px;">
  <tr>
    <th>
      Título del álbum
    </th>
    <th>
      Tipo de álbum
    </th>
    <th>
      Visitas
    </th>
    <th>
      Fecha de creación
    </th>
    <th>
      Cantidad de fotos
    </th>
    <th>
      Fotos comentadas
    </th>
  </tr>

<!-- BEGIN SUSCRIPCION -->
  <tr>
    <td>
      {TITULOSUSCRIPCION}
    </td>
    <td>
      {TIPOSUSCRIPCION}
    </td>
    <td>
      {VISITASSUSCRIPCION}
    </td>
    <td>
      {FECHASUSCRIPCION}
    </td>
    <td>
      {CANTIDADFOTOSSUSCRIPCION}
    </td>
    <td>
      {CANTIDADCOMENTARIOSSUSCRIPCION}
    </td>
  </tr>
<!-- END SUSCRIPCION -->
</table>
<br>
