<p>{MENSAJEVACIO}</p>
<br>
<table class="responsive-table highlight" style="border-width: 20px;">
  <tr>
    <th>
      Título del álbum
    </th>
    <th>
      Tipo de álbum
    </th>
    <th>
      Visitas
    </th>
    <th>
      Fecha de creación
    </th>
    <th>
      Cantidad de fotos
    </th>
    <th>
      Fotos comentadas
    </th>
  </tr>

<!-- BEGIN ALBUM -->
  <tr>
    <td>
      {TITULOALBUM}
    </td>
    <td>
      {TIPOALBUM}
    </td>
    <td>
      {VISITASALBUM}
    </td>
    <td>
      {FECHAALBUM}
    </td>
    <td>
      {CANTIDADFOTOSALBUM}
    </td>
    <td>
      {CANTIDADCOMENTARIOSALBUM}
    </td>
  </tr>
<!-- END ALBUM -->
</table>
<br>
